hiii
<h1>Most Impoertant VS Code Plugins </h1>

<br>Angular Specific Packages ---
<br>Angular 2 TypeScript Emmet
<br>Angular Language Service
<br>Angular v4 TypeScript Snippets
<br>Angular2 Inline
<br>Angular2 Switcher
<br>Packages for All JavaScript Languages ---
<br>Debugger for Chrome
<br>Auto Import
<br>Bracket Pair Colorizer
<br>JavaScript (ES6) Code Snippets
<br>npm
<br>TSLint
<br>Align<br>
-----------------------------------------------------------<br>

<a routerLink="/dashboard">Dashboard</a>

<router-outlet></router-outlet>
