<!-- 
Steps
    1) thead -- Done
    2) tbody -- Done
    3) sort-- Done
    4) paginate -- Done

    5) prev & next -- WIP
    6) filter / search
    7) conditional filter
    8) cell Template
 -->

<app-reportgrid [tableHeaders]="headers"
                [tableRows]="rows" 
                [tableTitle]="title" 
                [showPaging]="true" 
                [pageSize]="4">
</app-reportgrid>


<mat-form-field>
  <mat-select placeholder="Favorite food">
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>


