{{title}}

<br> Setting the Origin for each outgoing request.
<br> Adding authentication token to every request.
<br> Adding any custom header(s) that your application.

<br>
we are essentially modifying the request in a new class which extends the base Http class. We are then creating a
factory which returns an instance of the newly created class when requested by the provider.
<br>

<br>
<br>
<div *ngFor="let user of users">
  {{user.firstName}}
</div>

<h1>https://github.com/pkrawat1/awesome-angular-components#carousel</h1>
